<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>c4f cus web</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root</param-value> 
	</context-param>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>com.thingsone.m2m.basic.core.action.WebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:net/bull/javamelody/monitoring-spring.xml 
			classpath:conf/app-context.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>weblogic.httpd.inputCharset./*</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener> 
	
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> 

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/mobile.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>accessDeniedFilter</filter-name>
		<filter-class>com.thingsone.m2m.basic.core.filter.AccessDeniedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.conf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.properties</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>captchaFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>captchaFilter</filter-name>
		<url-pattern>/captcha.pic</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>urlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>urlRewriteFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>sitemeshFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>sitemeshFilterBean</param-value>
		</init-param>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JdbcStatView</servlet-name>
		<servlet-class>com.thingsone.m2m.basic.jdbc.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JdbcStatView</servlet-name>
		<url-pattern>/jdbc/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>WebStatFilter</filter-name>
		<filter-class>com.thingsone.m2m.basic.jdbc.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/jdbc/*</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>file404Filter</filter-name>
		<filter-class>com.thingsone.m2m.basic.core.filter.File404Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>file404Filter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>RequestTokenServlet</servlet-name>
		<servlet-class>com.thingsone.m2m.basic.oauth.provider.servlets.RequestTokenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorizationServlet</servlet-name>
		<servlet-class>com.thingsone.m2m.basic.oauth.provider.servlets.AuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccessTokenServlet</servlet-name>
		<servlet-class>com.thingsone.m2m.basic.oauth.provider.servlets.AccessTokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestTokenServlet</servlet-name>
		<url-pattern>/api/request_token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorizationServlet</servlet-name>
		<url-pattern>/api/authorize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessTokenServlet</servlet-name>
		<url-pattern>/api/access_token</url-pattern>
	</servlet-mapping>

	<!-- 配置quartz -->
	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<servlet-class>com.thingsone.m2m.basic.schedule.engine.ee.servlet.QuartzInitializerServlet</servlet-class>
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>start-scheduler-on-load</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>/timeout.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/tld/struts-tags</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-tags.tld</taglib-location>
		</taglib>
	</jsp-config>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
